*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Custom Properties */

:root {
    --ff-primary:   "Source Sans Pro", sans-serif;
    --ff-secondary: "Source Code Pro", monospace;

    --fw-reg:  300;
    --fw-bold: 900;

    --clr-light:  #fff;
    --clr-dark:   #303030;
    --clr-accent: #8757d4; /* #16e0bd */

    --fs-h1:   3rem;
    --fs-h2:   2.25rem;
    --fs-h3:   1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1:   4.5rem;
        --fs-h2:   3.75rem;
        --fs-h3:   1.5rem;
        --fs-body: 1.125rem;
    }
}


/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    background:  var(--clr-light);
    color:       var(--clr-dark);
    margin:      0;
    font-family: var(--ff-primary);
    font-size:   var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 3em 2em;
}

img {
    display:   block;
    max-width: 100%;
}

a,
a:link,
a:visited {
    color: #16e0bd;
}

strong { font-weight: var(--fw-bold); }


/* Typography */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

.logo {
    padding: 1%;
}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin:    0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--equilibrium,
.section__subtitle--salt-solubility,
.section__subtitle--dissociation,
.section__subtitle--buffer,
.section__subtitle--titration {
    background:    var(--clr-accent);
    padding:       .25em;
    font-family:   var(--ff-secondary);
    margin-bottom: 1em;
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.head-logo {
    width:  20%;
    height: 20%;
}

.nav {
    position:   fixed;
    background: var(--clr-dark);
    color:      var(--clr-light);
    top:        0;
    bottom:     0;
    left:       0;
    right:      0;
    z-index:    100;

    transform:  translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style:      none;
    display:         flex;
    height:          100%;
    flex-direction:  column;
    justify-content: space-between;
    align-items:     center;
    margin:          0;
    padding:         0;
}

.nav__link {
    color:           inherit;
    font-weight:     var(--fw-bold);
    font-size:       var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding:    .5em;
    background: transparent;
    border:     0;
    cursor:     pointer;
    position:   fixed;
    right:      1em;
    top:        1em;
    z-index:    1000;
}

.nav-open .nav{
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .menu {
    transform: rotate(.625turn);
}

.nav-open .menu::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .menu::after {
    opacity: 0;
}


.menu {
    display:       block;
    position:      relative;
}

.menu,
.menu::before,
.menu::after {
    background:    var(--clr-accent);
    width:         2em;
    height:        3px;
    border-radius: 1em;
    transition:    transform 250ms ease-in-out;
}

.menu::before,
.menu::after {
    content:  "";
    position: absolute;
    left:     0;
    right:    0;
}

.menu::before { top: 6px; }
.menu::after { bottom: 6px; }


/* Intro Section */

.intro {
    position: relative;
}

.logo {
    box-shadow: var(--es);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display:               grid;
        width:                 min-content;
        margin:                0 auto;
        grid-column-gap:       1em;
        grid-template-areas:   "img title" "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .logo {
        grid-area: img;
        min-width: 250px;
        position:  relative;
        z-index:   2;
    }

    .section__subtitle--intro {
        align-self:  start;
        grid-column: -1 / 1;
        grid-row:    2;
        text-align:  right;
        position:    relative;
        left:        -1.5em;
        width:       calc(100% + 1.5em);
    }
}


/* Footer */

.footer-info {
    background: #111;
    color:        var(--clr-accent);
    text-align:   center;
    padding:      2.5em 0;
    font-size:    var(--fs-h3);
}

.footer-info a { 
    color:           inherit; 
    text-decoration: none;
}

.footer-info p {
    font-family: var(--ff-secondary);
    display:     inline;
}

.footer__link {
    font-family: var(--ff-secondary);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style:      none;
    display:         flex;
    justify-content: center;
    margin:          2em 0;
    padding:         0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

/* Highlighting Target Links */

#general-information:target,
#end-point:target,
#transition-point:target,
#equivalence-point:target,
#stoichiometric-point:target,
#standard-solution:target,
#primary-standard:target,
#weak-acid-strong-base:target,
#strong-acid-weak-base:target,
#strong-acid-strong-base:target,
#indicators:target,
#equilibrium:target,
#salt-solubility:target,
#hydrolysis:target,
#buffers:target
{
    background: #FCFFAF;
}